<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="themes/theme.css">
	<title>Add Page</title>
</head>

<body>
	<form method="POST" action="/add">
		<input type="textbox" class="input" name="input1" value="<%=input1%>"> +
		<input type="textbox" class="input" name="input2" value="<%=input2%>">
		<input type="submit" value="=">
		<input type="textbox" name="result" value="<%=result%>" disabled>
	</form>
</body>

</html>