<!DOCTYPE html>
<html lang="en">

<% include ./head %>

	<body>

		<% include ./nav %>

			<section>
				<p>Using EJS templating with Node.js</p>
				</div>
			</section>

			<% include ./footer %>

	</body>

</html>